* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    min-height: 100vh;
    /* background-color: red; */
}
.section1 {
    border: 10px inset grey;
    margin: 1rem 2rem;
    min-height: 50vh;
}
.section2 {
    /* background-color: gold; */
    min-height: 70vh;
    border: 10px inset grey;
    margin: 1rem 2rem;
}
.containerTitle {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: lightslategray;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px black;
    border-bottom: 1px solid black;
    padding: 1rem;
}
.containerChangeColor {
    /* background-color: coral; */
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.containerChangeColor button {
    padding: 10px;
    background-color: white;
    border: none;
    border: 1px solid black;
    border-radius: 5px;
    font-family: monospace;
    font-weight: bold;
    animation: flicker 1s infinite alternate;
}
.containerChangeColor button:active {
    background-color: rgba(255, 255, 255, 0.534);
}
@keyframes flicker {
    0% {
        box-shadow: 0px 1px 2px black;
        transform: translateY(-10px);
    }

}
.containerChangeColor p {
    border: 1px solid black;
    padding: 10px;
    font-family: monospace;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
}
.containerChangeAudio {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.containerAudio {
    background-color: lightslategray;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.37);
}
.buttonElegir {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 20%;
}
.buttonElegir:active {
    background-color: rgba(255, 255, 255, 0.397);
}
.audio {
    width: 30%;
}
.titleSong {
    /* background-color: white; */
    width: 30%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
}
.containerContinue {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-top: 1px solid black;
}
.containerContinue a {
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    color: lightslategray;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px black;
}
.none {
    display: none;
}
#testText {
    font-weight: bold;
}