* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    min-height: 100vh;
    /* background-color: red; */
}
.section1 {
    /* background-color: pink; */
    height: 50vh;
}
.section2 {
    /* background-color: gold; */
    min-height: 70vh;
}
.containerTitle {
    background-color: fuchsia;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    text-align: center;
}
.containerChangeColor {
    /* background-color: coral; */
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.containerChangeAudio {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.containerAudio {
    background-color: coral;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.37);
}
.buttonElegir {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 20%;
}
.buttonElegir:active {
    background-color: gold;
}
.audio {
    width: 30%;
}
.titleSong {
    background-color: beige;
    width: 30%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}
.containerContinue {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerContinue a {
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}
.none {
    display: none;
}
#testText {
    font-weight: bold;
}