@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    min-height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
}
#containerAudio {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-bottom: 1px solid black;
}
.section1 {
    /* background-color: pink; */
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.none {
    display: none;
}

.div1 {
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}
.video1 {
    width: 200px;
    height: 200px;
    object-fit: cover;
    animation: appear 5s linear;
    background-color: black;
    border-radius: 50px;
    border: 1rem ridge lightslategray;
}
#containerImages_1 {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: appear 10s linear;
}
.img {
    width: 80%;
    height: 45vh;
    object-fit: cover;
    object-position: top;
    border: 1rem ridge lightslategray;
    border-radius: 5px;
    animation: moving 3.5s infinite linear alternate;
}
@keyframes moving {
    0% {
        object-position: top;
    }
    100% {
        object-position: bottom;
    }
}
@keyframes appear {
    0% {
        opacity: .2;
    }
}
.appearSlow {
    animation: appear 5s linear;
}
.div2 {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;
}
.h2 {
    font-size: 2rem;
    text-shadow: 2px 0px rgba(0, 0, 0, 0.5);
}
.otherH2 {
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 2px 0px rgba(0, 0, 0, 0.5);
}
.div3 {
    padding: 2rem;
    border-top: 1px solid black;
}
.container2Videos {
    border: 1rem ridge lightslategray;
    display: flex;
    border-radius: 5px;
}
.customVideo {
    height: 40vh;
    width: 50%;
    object-fit: cover;
}
#containerInputsRadio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}
.miniMarginBottom {
    margin-bottom: 10px;
}
#inputDate {
    border: none;
    padding: 10px;
    border: 10px ridge lightslategray;
    border-radius: 5px;
    color: black;
}
#containerInputsRadio2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}
.failResponse {
    background:url("https://media.tenor.com/6a7GIRUyC7sAAAAC/tom-enojado.gif") center / cover no-repeat;
    height: 40vh;
    animation: appear 2s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1rem ridge lightslategray;
    border-radius: 5px;
    margin-bottom: 2rem;
}
.customPerdiste {
    color: red;
    text-shadow: 1px 0px 1px black;
}
.section3 {
    /* background-color: red; */
}
.customImgTeresa {
    background-color: black;
    border: 1rem ridge lightslategray;
    object-fit: cover;
    height: 40vh;
    width: 100%;
    animation: moving 3.5s linear infinite alternate;
    border-radius: 5px;
}
.customImages {
     object-fit: cover;
     height: 40vh;
     width: 100%;
     object-position: top;
     border: 1rem ridge lightslategray;
     animation: moving 3.5s infinite linear alternate;
}
.container2Videos_2 {
    border: 1rem ridge lightslategray;
    display: flex;
    border-radius: 5px;
}
.customVideo2 {
    height: 40vh;
    width: 100%;
    object-fit: cover;
    object-position: top;
    animation: moving 3.5s infinite linear alternate;
}

.marginBottom {
    margin-bottom: 2rem;
}
.containerInputsRadio {
    background-color: lightslategray;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1rem ridge lightslategray;
}
.label {
    display: flex;
    align-items: center;
    width: 100%;
}
.marginRight {
    margin-right: 10px;
}
.section4 {
    animation: appear 10s linear;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 2rem;
}
.sobre {
    width: 200px;
    height: 100px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.623));
}
.sobre:active {
    background-color: white
}
#containerSobres {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    border: 2rem ridge lightslategray;
    background-color: lightslategrey;
}
.section5 {
    /* background-color: pink; */
    animation: appear 7s linear;
}
.letter {
    background:url("https://i.pinimg.com/originals/88/37/a6/8837a69bcf30bd8a428f9b6bb9d22e48.jpg") center / cover no-repeat;
    min-height: 30vh;
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.438);
    border-radius: 5px;
}
.letter_p {
    font-family: 'Tangerine', cursive;
    font-size: 2rem;
    margin-bottom: 5px;
}
.alignCenter {
    text-align: center;
}
.section6 {
    height: auto;
    animation: appear 5s linear;
}
#ul {
    /* background-color: pink; */
    min-height: 30vh;
    padding: 10px;
}
.lastVideos {
    height: 40vh;
    width: 100%;
    object-fit: cover;
    animation: moving 3.5s infinite linear alternate;
    border: 1rem ridge lightslategray;
    border-radius: 5px;
}
.lastSection {
    /* background-color: red; */
}
#containerLastVideos {
    /* background-color: blue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.customLastVideo {
    height: 40vh;
    width: 100%;
    object-fit: cover;
    object-position: top;
    animation: moving 3.5s infinite linear alternate;
    border: 1rem ridge lightslategray;
    border-radius: 5px;
}
.sectionCumpleaños {
    /* background-color: lightslategray; */
    min-height: 30vh;
    margin-bottom: 2rem;
}
.containerLastTexts {
    /* background-color: lightblue; */
    padding: 1rem;
    border: 1rem ridge lightslategray;
    border-radius: 5px;
}
.containerCake {
    background: url("https://www.gifsanimados.org/data/media/1033/tarta-torta-y-pastel-imagen-animada-0032.gif") center / contain no-repeat;
    height: 25vh;
    filter: drop-shadow(5px 0px 1px rgba(0, 0, 0, 0.493));
    width: 100%;
}
.textShadow {
    text-shadow: 1px 0px 1px black;
}
.dateCumpleaños {
    font-family: monospace;
    text-align: center;
}