* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    min-height: 100vh;
}
#containerAudio {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-bottom: 1px solid black;
}
.section1 {
    /* background-color: white; */
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.none {
    display: none;
}
.div1 {
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}
.video {
    width: 200px;
    height: 200px;
    object-fit: cover;
    animation: appear 5s linear;
    margin-top: 10px;
}
.img {
    /* background-color: black; */
    width: 100%;
    height: 400px;
    animation: appear 5s linear;
    object-fit: contain;
}
@keyframes appear {
    0% {
        opacity: .2;
    }
}
.div2 {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;
}
.h2 {
    font-size: 2rem;
    text-shadow: 2px 0px rgba(0, 0, 0, 0.5);
}
.div3 {
    padding: 2rem;
    border-top: 1px solid black;
}
.container2Videos {
    border: 1rem ridge goldenrod;
    background-color: black;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding: 10px;
}
.customVideo {
    height: 300px;
    width: 50%;
    object-fit: contain;
}
#containerInputsRadio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}
#containerInputsRadio2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}
.failResponse {
    background-color: black;
    height: 50vh;
    animation: appear 2s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.customPerdiste {
    color: red;
    font-size: 2rem;
}
.customImgTeresa {
    background-color: black;
    object-fit: contain;
    height: 400px;
    width: 100%;
    animation: appear 3s linear;
}
.customVideo2 {
    background-color: black;
    height: 300px;
    width: 100%;
    object-fit: contain;
}
.containerTexts {
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}
.marginBottom {
    margin-bottom: 2rem;
}
.containerInputsRadio {
    background-color: goldenrod;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}
.label {
    display: flex;
    align-items: center;
    width: 60%;
}
.marginRight {
    margin-right: 10px;
}