* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    /* background-color: pink; */
    min-height: 100vh;
    font-family: monospace;
}
/*section1*/
.section1 {
    /* background-color: cyan; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
.containerH2 {
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
}
.h2 {
    position: relative;
    float: left;
    font-size: 3vh;
    color: black;
    font-weight: bold;
}
.h2 span {
    position: absolute;
    right: 0;
    width: 0;
    background: white;
    animation: machine 3s steps(32);
}
@keyframes machine {
  0% {
    width: 100%;
    border-left: 1px solid red;
  }
  100% {
    width: 40%;
    border-left: 1px solid red;
  }
}
.none {
    display: none;
}
.h2_2 {
    position: relative;
    float: left;
    font-size: 3vh;
    color: black;
    font-weight: bold;
}
.h2_2 span {
    position: absolute;
    right: 0;
    width: 0;
    background: white;
    animation: machine 3s steps(45);
}
.containerCampera {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.campera {
    width: 300px;
    height: 300px;
    transition: all .2s;
    animation: campera 2s linear;
}
@keyframes campera {
    0% {
        opacity: .2;
    }
}
.h2Campera {
    position: relative;
    float: left;
    font-size: 3vh;
    color: black;
    font-weight: bold;
}
.h2Campera span {
    position: absolute;
    right: 0;
    width: 0;
    background: white;
    animation: machine 1s steps(14);
}
/*section2*/
.section2 {
    background-color: red;
}
.h2Section2 {
    position: relative;
    float: left;
    font-size: 3vh;
    color: black;
    font-weight: bold;
}
.h2Section2 span {
    position: absolute;
    right: 0;
    width: 0;
    background: white;
    animation: machine 3s steps(18);
}
.h2Section2_2 {
    position: relative;
    float: left;
    font-size: 3vh;
    color: black;
    font-weight: bold;
}
.h2Section2_2 span {
    position: absolute;
    right: 0;
    width: 0;
    background: white;
    animation: machine 3s steps(47);
}
.h2Remera {
    position: relative;
    float: left;
    font-size: 3vh;
    color: black;
    font-weight: bold;
}
.h2Remera span {
    position: absolute;
    right: 0;
    width: 0;
    background: white;
    animation: machine 1s steps(14);
}
/*section3*/
.h2Section3 {
    position: relative;
    float: left;
    font-size: 3vh;
    color: black;
    font-weight: bold;
}
.h2Section3 span {
    position: absolute;
    right: 0;
    width: 0;
    background: white;
    animation: machine 3s steps(41);
}
.h2Section3_2 {
    position: relative;
    float: left;
    font-size: 3vh;
    color: black;
    font-weight: bold;
}
.h2Section3_2 span {
    position: absolute;
    right: 0;
    width: 0;
    background: white;
    animation: machine 3s steps(43);
}
.h2Section3_3 {
    position: relative;
    float: left;
    font-size: 3vh;
    color: black;
    font-weight: bold;
}
.h2Section3_3 span {
    position: absolute;
    right: 0;
    width: 0;
    background: white;
    animation: machine 3s steps(39);
}
/*section4*/
.h2Section4 {
    position: relative;
    float: left;
    font-size: 3vh;
    color: black;
    font-weight: bold;
}
.h2Section4 span {
    position: absolute;
    right: 0;
    width: 0;
    background: white;
    animation: machine 3s steps(38);
}
.h2Section4_2 {
    position: relative;
    float: left;
    font-size: 3vh;
    color: black;
    font-weight: bold;
}
.h2Section4_2 span {
    position: absolute;
    right: 0;
    width: 0;
    background: white;
    animation: machine 3s steps(35);
}
.goPage2 {
    background-color: lightslategray;
    padding: 5px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    animation: campera 2s linear;
}