* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    height: 100vh;
}
.nosotros {
    text-decoration: none;
    position: relative;
    float: left;
    font-size: 10vh;
    color: black;
    font-weight: bold;
}
.nosotros span {
    color: red;
    position: absolute;
    right: 0;
    width: 0;
    background:white;
    animation: machine 4s steps(9);
}
@keyframes machine {
  0% {
    width: 100%;
    border-left: 1px solid red;
  }
  100% {
    width: 0%;
    border-left: 1px solid red;
  }
}
.newAnimation {
    animation: changeColor 5s infinite;
}
@keyframes changeColor {
    0% {
        color: black;
    }
    25% {
        color: orange;
    }
    50% {
        color: orangered;
    }
    75% {
        color: red;
    }
    100% {
        color: black;
    }
}
